/* *{
  background-color: black;
  color: cornflowerblue;
}

#titulo {
  color: crimson;
  text-align: center;
}

.centrar {
  text-align: center;
}

.texto-grande {
  font-size: 150%;
} */

/* h1, h2, p, div{
  color: crimson;
  text-align: center;
} */

/* p.centrar{
  text-align: center;
} */


