*{
  margin: 0px;
  padding: 0px;
}
h1{
  text-align: center;
  margin-bottom: 30px;
}

body{
  margin-left: 10px;
}

.punteado{
  border-style: dotted;
  border-color: crimson hotpink gold lime;
}

.discontinuo {
  border-style: dashed;
  border-width: thick /*thin medium thick*/;
  border-color: hsla(203, 39%, 44%, 0.77402);
}

.solid {
  border: 10px solid red;
  border-radius: 15px;
  border-width: 10px 5px 2px;
}

.doble{
  border: 10px double;
}

.surco{
  border: 10px groove; 
}

.cresta{
  border: 10px ridge;
}

.inset{
  border: 10px inset;
}

.outset{
  border: 10px outset;
}

.borderless{
  border: none
}

.hidden{
  border: 10px hidden;
}

.border-mix{
  border: 10px;
  border-style: dotted solid dashed double;
}

.punteado, .discontinuo, .solid, .doble, .surco, .cresta, .inset, .outset, .borderless, .hidden, .border-mix {
   margin:0 10px 10px 0px;
  width: 30%; 
  /* float: left; */
}

