/* fonts goolge api v1 */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Sofia|Roboto&effect=shadow-multiple|3d|fire-animation|neon|anaglyph|3d-float|fragile');/* first version google fonts API*/

h1{
  color: #ef476f;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #cde4da;
  font-family: 'Inconsolata', monospace;

}

.caja{
  padding: 5px;
  width: 40%;
  height: 80px;
  border-radius: 5px;
  color:white;
  text-align: center;
  text-transform: capitalize;
  margin: 10px;
  font-size: 20px;
  float: left;
}

.caja.serif{
  background-color: #5a189a;
}

.caja.sans-serif{
  background-color: #007a2f;
}

.caja.monospace{
  background-color: #362736;
}

.caja.cursive{
  background-color: #502900;
}

.fuente-Times{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
  font-size: 20px;

 
}

.fuente-Roboto{
  /* font-family: Roboto, monospace; */
  /* font-style: normal; */
  /* font-weight: normal; */
  /* font-variant: small-caps; */
  /* font-size: 20px; */

   /*font-style font-variant font-weight font-size/line-heigth font-family*/
   font: italic small-caps bolder 20px Roboto, sans-serif;
}

.fuente-Georgia{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold ;
  font-variant: normal;
  font-size: 1.2em /* 16px/16 = 1em */
}

.fuente-Arial{
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bolder ;
  font-size: 2vw; /* view width (viewport) 1vw = 1%*/
}

.fuente-Verdana{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.fuente-Courier{
  font-family: 'Courier New', Courier, monospace;
}

.fuente-cursive{
  font-family: Sofia, 'Lucida Handwriting', cursive;
}


